/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: rgb(255, 253, 240);
    font-family: serif;
  }
h1{
    font-family: serif;
    font-size: 60px;
    font-style: bold;
    text-align: center;
  }

.moveimg {
    float: right;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 236, 202);
}

div {
  padding: 20px;
  margin: 20px;
  background-color: rgb(250, 250, 236);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}