body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

div {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.special {
    background-color: lavender;
    border: dotted 50px red;
    color: pink;
    font-weight: bold;
}

h2 {
    margin-bottom: 10px;
}